@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: roboto, sans-serif;
    color: #3e3e3e;
    background-color: lightgrey;
}

h1,
h2 {
    color: #3e3e3e;
    font-family: oswald, sans-serif;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 10px;
}

#menu {
    right: 10px;
    letter-spacing: 3px;
    font-size: 110%;
    margin-right: 30px;
}

#menu,
#logo {
    line-height: 125px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3e3e3e;
}

#menu a:active {
    border-bottom: 1px solid #3e3e3e;
}

#menu li {
    float: right;
    padding-right: 30px;
    list-style-type: none;
    color: #3e3e3e;
}

/* hero image */

#hero-image-box {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/sunset-are.jpg) no-repeat center center;
}

/* event summary block */

#event-outer-box {
    height: 600px;
    width: 90%;
    background: url(../images/sunset-are.jpg);
    margin: 75px auto;
    text-align: center;
}

#event-box {
    display: inline-block;
    width: 25%;
    height: 450px;
    background-color: rgba(58, 58, 58, 0.6);
    margin-top: 75px;
    margin-right: 50px;
    border-radius: 10px;
}

#event-image-1 {

    background: url(../images/sunset-are.jpg) no-repeat center center;
    width: 80%;
    height: 50%;
    margin: 30px auto;
}

#event-text p {
    color: white;
}

#event-text {
    width: 80%;
    margin: 20px auto;

}

#event-icon {
    margin: 15px auto;
    font-size: 25px;

}


/* footer section */

#footer {
    width: 100%;
    height: 150px;
    background-color: #8b8b8b;
}

#footer-contact {
    float: left;
    letter-spacing: 3px;
    font-size: large;
    margin-top: 30px;
    margin-left: 50px;
}

#footer-contact p {
    margin-top: 5px;
}

#social-section {
    background-color: #3e3e3e;
    float: right;
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-right: 50px;
}